@use "./variables" as *;

button {
  width: auto;
  height: 40px;
  border: none;
  background-color: $button;
  border-radius: 25px;
  padding: 0 1cqi;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background-color: $button-hover;
}

.btn-danger {
  background-color: $danger;
}
.btn-success {
  background-color: $success;
}

input {
  border-radius: 25px;
  border: 1px solid $border-color;
  background-color: $background-secondary;
  outline: none;
  padding: 10px;
}
.positive {
  color: $success;
}
.negative {
  color: $danger;
}
