$primary: #2962ff;
$secondary: #455a64;
$success: #52df8d;
$danger: #e74242;
$warning: #ffab00;

$success-hover: #4bce82;
$danger-hover: #d63d3d;

$background-primary: #ffffff;
$background-secondary: #f5f7fa;

$text-primary: #263238;
$text-secondary: #607d8b;
$border-color: #e0e0e0;

$button:#8a8efa;
$button-hover:#7a7de1;



$breakpoint-mobile: 768px;